@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Work+Sans:wght@300&display=swap');

.header {
  background-color: var(--primary-main);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 50px;
}

.header__nav {
  text-align: right;
}

.header__logo {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: white;
}

.header__list {
  display: flex;
}

.header__item {
  list-style: none;
  display: flex;
  margin-left: 20px;
  background-color: white;
  color: var(--primary-main);
  border: 2px solid var(--primary-main);
  border-radius: 7px;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 52px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.header__item.active {
  background-color: var(--primary-light);
}

.header__link {
  margin: auto;
  padding: 0 16px;
}
