.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  border-radius: 50px;
  background-color: #F3F4F6;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 40px 50px 40px;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__button {
  background: #116ACC;
  font-family: 'Ubuntu', serif;
  border-radius: 7px;
  padding: 14px 21px;
  width: 80px;
  color: white;
  border: none;
}

.login__button_container {
  display: flex;
  justify-content: flex-start;
  margin-left: 75px;
}
