:root {
  --main-color: #116ACC;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  padding: 50px;
}

.button-filled {
  align-self: start;
  padding: 12px 20px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: white;
  text-decoration: none;
  background-color: var(--main-color);
  cursor: pointer;
  outline: none;
  z-index: 1;
  transition: background-color 0.3s;
}
