.accounts__top {
  padding-bottom: 45px;
  display: flex;
  align-items: center;
}

.accounts__button {
  margin-left: auto;
}

.accounts__button-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-filled {
  align-self: start;
  padding: 12px 20px;
  border: 2px solid var(--button-main);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
  text-decoration: none;
  background-color: var(--button-main);
  cursor: pointer;
  outline: none;
  z-index: 1;
  transition: background-color 0.3s;
}
